# NATIONAL PARKS VISITATION ANALYSIS
### Table of Contents

01. Libraries Import
02. Data Import
03. Data Wrangling
- 3.1 Dropping Columns
- 3.2 Data Consistency Checks
- 3.3 Basic Statistics & Data Type Changing
04. Export Data

## 01. Libraries Import

In [1]:
# Libraries Imported

import pandas as pd
import numpy as np
import os

## 02. Data Import

In [2]:
# Create a string path

path = r'C:\Users\rasmu\Documents\CareerFoundry\A6 National Parks Analysis\02 Data'

In [3]:
# Importing Dataset 

df = pd.read_csv(os.path.join(path, 'Orig Data', 'NatlParksRawData.csv'))

In [4]:
# Print head

df.head()

,ParkName,UnitCode,ParkType,Region,State,Year,Month,RecreationVisits,NonRecreationVisits,RecreationHours,...,NonRecreationVisitsTotal,RecreationHoursTotal,NonRecreationHoursTotal,ConcessionerLodgingTotal,ConcessionerCampingTotal,TentCampersTotal,RVCampersTotal,BackcountryTotal,NonRecreationOvernightStaysTotal,MiscellaneousOvernightStaysTotal
0,Acadia NP,ACAD,National Park,Northeast,ME,2012,1,"11,930",600,"78,738",...,"47,100","12,458,831","47,100",0,0,"124,482","26,760","1,316",0,"8,083"
1,Acadia NP,ACAD,National Park,Northeast,ME,2012,2,"12,388",600,"81,758",...,"47,100","12,458,831","47,100",0,0,"124,482","26,760","1,316",0,"8,083"
2,Acadia NP,ACAD,National Park,Northeast,ME,2012,3,"22,684",600,"149,716",...,"47,100","12,458,831","47,100",0,0,"124,482","26,760","1,316",0,"8,083"
3,Acadia NP,ACAD,National Park,Northeast,ME,2012,4,"59,471",600,"344,929",...,"47,100","12,458,831","47,100",0,0,"124,482","26,760","1,316",0,"8,083"
4,Acadia NP,ACAD,National Park,Northeast,ME,2012,5,"157,406","7,500","894,751",...,"47,100","12,458,831","47,100",0,0,"124,482","26,760","1,316",0,"8,083"

In [5]:
# Print tail

df.tail()

,ParkName,UnitCode,ParkType,Region,State,Year,Month,RecreationVisits,NonRecreationVisits,RecreationHours,...,NonRecreationVisitsTotal,RecreationHoursTotal,NonRecreationHoursTotal,ConcessionerLodgingTotal,ConcessionerCampingTotal,TentCampersTotal,RVCampersTotal,BackcountryTotal,NonRecreationOvernightStaysTotal,MiscellaneousOvernightStaysTotal
7555,Zion NP,ZION,National Park,Intermountain,UT,2021,8,"466,928","1,860","3,105,093",...,"21,900","31,553,998","5,475","55,454",0,"138,730","89,919","15,071",0,"7,969"
7556,Zion NP,ZION,National Park,Intermountain,UT,2021,9,"483,180","1,800","3,076,210",...,"21,900","31,553,998","5,475","55,454",0,"138,730","89,919","15,071",0,"7,969"
7557,Zion NP,ZION,National Park,Intermountain,UT,2021,10,"469,379","1,860","2,902,495",...,"21,900","31,553,998","5,475","55,454",0,"138,730","89,919","15,071",0,"7,969"
7558,Zion NP,ZION,National Park,Intermountain,UT,2021,11,"308,560","1,800","1,932,994",...,"21,900","31,553,998","5,475","55,454",0,"138,730","89,919","15,071",0,"7,969"
7559,Zion NP,ZION,National Park,Intermountain,UT,2021,12,"211,983","1,860","1,321,213",...,"21,900","31,553,998","5,475","55,454",0,"138,730","89,919","15,071",0,"7,969"

In [6]:
# Print shape

df.shape

(7560, 35)

In [7]:
# Getting Full List of Columns & Gauge of Data Types

df.dtypes

ParkName                            object
UnitCode                            object
ParkType                            object
Region                              object
State                               object
Year                                 int64
Month                                int64
RecreationVisits                    object
NonRecreationVisits                 object
RecreationHours                     object
NonRecreationHours                  object
ConcessionerLodging                 object
ConcessionerCamping                 object
TentCampers                         object
RVCampers                           object
Backcountry                         object
NonRecreationOvernightStays         object
MiscellaneousOvernightStays         object
ParkNameTotal                       object
UnitCodeTotal                       object
ParkTypeTotal                       object
RegionTotal                         object
StateTotal                          object
YearTotal                            int64
RecreationVisitsTotal               object
NonRecreationVisitsTotal            object
RecreationHoursTotal                object
NonRecreationHoursTotal             object
ConcessionerLodgingTotal            object
ConcessionerCampingTotal            object
TentCampersTotal                    object
RVCampersTotal                      object
BackcountryTotal                    object
NonRecreationOvernightStaysTotal    object
MiscellaneousOvernightStaysTotal    object
dtype: object

## 03. Data Wrangling

#### 3.1 Dropping Columns

In [8]:
# The "total" columns are not needed and cause more confusion than needed. Also, 'ParkType', 'ConcessionerLodging', 
#'ConcessionerCamping', 'NonRecreationOvernightStays' & 'MiscellaneousOverNightStays' don't contribute to the park usage stats 
# that I'm intersted in after reading the stats definition document.

df = df.drop(columns = ['ParkType', 'ConcessionerLodging', 'ConcessionerCamping', 'ParkNameTotal', 'UnitCodeTotal', 
                        'ParkTypeTotal', 'RegionTotal', 'StateTotal', 'YearTotal', 'RecreationVisitsTotal', 
                        'NonRecreationVisitsTotal', 'RecreationHoursTotal', 'ConcessionerLodgingTotal', 
                        'ConcessionerCampingTotal', 'TentCampersTotal', 'RVCampersTotal', 'BackcountryTotal', 
                        'NonRecreationOvernightStaysTotal', 'MiscellaneousOvernightStaysTotal', 'NonRecreationHoursTotal', 
                        'NonRecreationOvernightStays', 'MiscellaneousOvernightStays'])

In [9]:
# Checking column drops were successful

df.dtypes

ParkName               object
UnitCode               object
Region                 object
State                  object
Year                    int64
Month                   int64
RecreationVisits       object
NonRecreationVisits    object
RecreationHours        object
NonRecreationHours     object
TentCampers            object
RVCampers              object
Backcountry            object
dtype: object

#### 3.2 Data Consistency Checks

In [10]:
# Checking for columns with mixed data types

for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

##### There are no mixed data types in this dataframe.

In [11]:
# Checking for missing values

df.isnull().sum()

ParkName               0
UnitCode               0
Region                 0
State                  0
Year                   0
Month                  0
RecreationVisits       0
NonRecreationVisits    0
RecreationHours        0
NonRecreationHours     0
TentCampers            0
RVCampers              0
Backcountry            0
dtype: int64

##### There are no missing values in this dataframe.

In [12]:
# Checking for duplicates (creating a new subset that will contain only duplicates)

df_dups = df[df.duplicated()]

In [13]:
# Printing df_dups

df_dups

Empty DataFrame
Columns: [ParkName, UnitCode, Region, State, Year, Month, RecreationVisits, NonRecreationVisits, RecreationHours, NonRecreationHours, TentCampers, RVCampers, Backcountry]
Index: []

##### No duplicates to report.

#### 3.3 Basic Statistics & Data Type Changing

In [14]:
# Checking Basic Statistics after consistency checks

df.describe()

              Year        Month
count  7560.000000  7560.000000
mean   2016.500000     6.500000
std       2.872471     3.452281
min    2012.000000     1.000000
25%    2014.000000     3.750000
50%    2016.500000     6.500000
75%    2019.000000     9.250000
max    2021.000000    12.000000

In [15]:
# Realization that in order to change variables to int64, I need to remove the commas from all numerical data.

# Removing all commas

df['RecreationVisits'] = df['RecreationVisits'].str.replace(',','')

In [16]:
# Checking that comma removal worked

df['RecreationVisits']

0        11930
1        12388
2        22684
3        59471
4       157406
         ...
7555    466928
7556    483180
7557    469379
7558    308560
7559    211983
Name: RecreationVisits, Length: 7560, dtype: object

In [17]:
# Variable data types need to be altered to pull statistics

df['RecreationVisits'] = df['RecreationVisits'].astype('int64')

In [18]:
# Completing comma removal for rest of variables

df['NonRecreationVisits'] = df['NonRecreationVisits'].str.replace(',','')

In [19]:
df['RecreationHours'] = df['RecreationHours'].str.replace(',','')

In [20]:
df['NonRecreationHours'] = df['NonRecreationHours'].str.replace(',','')

In [21]:
df['TentCampers'] = df['TentCampers'].str.replace(',','')

In [22]:
df['RVCampers'] = df['RVCampers'].str.replace(',','')

In [23]:
df['Backcountry'] = df['Backcountry'].str.replace(',','')

In [24]:
# Completing changing variable data types to pull statistics

df['NonRecreationVisits'] = df['NonRecreationVisits'].astype('int64')

In [25]:
df['RecreationHours'] = df['RecreationHours'].astype('int64')

In [26]:
df['NonRecreationHours'] = df['NonRecreationHours'].astype('int64')

In [27]:
df['TentCampers'] = df['TentCampers'].astype('int64')

In [28]:
df['RVCampers'] = df['RVCampers'].astype('int64')

In [29]:
df['Backcountry'] = df['Backcountry'].astype('int64')

In [30]:
df['Year'] = df['Year'].astype('str')

In [31]:
df['Month'] = df['Month'].astype('str')

In [32]:
# Checking that datatype updates were correct

df.dtypes

ParkName               object
UnitCode               object
Region                 object
State                  object
Year                   object
Month                  object
RecreationVisits        int64
NonRecreationVisits     int64
RecreationHours         int64
NonRecreationHours      int64
TentCampers             int64
RVCampers               int64
Backcountry             int64
dtype: object

In [33]:
# Rechecking Basic Statistics after consistency checks

df.describe()

,RecreationVisits,NonRecreationVisits,RecreationHours,NonRecreationHours,TentCampers,RVCampers,Backcountry
count,7.560000e+03,7.560000e+03,7.560000e+03,7.560000e+03,7560.000000,7560.000000,7560.000000
mean,1.071895e+05,3.147685e+04,9.033467e+05,3.147685e+04,3263.246032,1853.780159,1758.758333
std,1.872928e+05,1.233625e+05,2.129197e+06,1.233625e+05,9027.343838,4882.539775,5362.823389
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
25%,1.043525e+04,0.000000e+00,4.858450e+04,0.000000e+00,0.000000,0.000000,0.000000
50%,4.227950e+04,2.915000e+02,1.779150e+05,2.915000e+02,78.000000,0.000000,84.000000
75%,1.150022e+05,4.900000e+03,6.485528e+05,4.900000e+03,1717.750000,1168.000000,621.250000
max,1.739720e+06,1.334690e+06,2.021239e+07,1.334690e+06,145536.000000,78060.000000,62848.000000

# 04. Export Data

In [34]:
# Export df to Prepd Data folder

df.to_csv(os.path.join(path, 'Prepd Data', 'NatlParks_clean.csv'))